@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray-50;
  @apply text-gray-800;
}

body.dark {
  @apply bg-gray-800;
  @apply text-gray-50;
}

/* Headings */

h1 {
  @apply text-4xl;
  @apply font-black;
}

h2 {
  @apply text-2xl;
  @apply font-black;
}

h3 {
  @apply text-xl;
  @apply font-black;
}

h4 {
  @apply text-lg;
  @apply font-black;
}

/* Inputs, Select, Buttons */

input,
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

select {
  @apply cursor-pointer;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  @apply bg-gray-300;
  @apply dark:bg-gray-800;
  @apply rounded;
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  @apply bg-gray-800;
  @apply dark:bg-gray-300;
  @apply rounded;
}

/* Card */
.card {
  @apply rounded;
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply ring-1;
  @apply ring-inset;
  @apply ring-gray-200;
  @apply dark:ring-gray-700;
}
.clickable {
  @apply cursor-pointer;
  @apply relative;
}
@media (hover: hover) and (pointer: fine) {
  .card.clickable:hover {
    @apply ring-2;
  }
}
.card.clickable:active {
  @apply ring-1;
}
.card.clickable:active::after {
  content: "";
  @apply rounded;
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
  @apply absolute right-0 top-0;
  @apply h-full w-full;
}
.clickableShallow {
  @apply relative;
}
.clickableShallow > a:first-child {
  @apply z-20;
}
.clickableShallow > a:nth-child(2) {
  @apply absolute;
  @apply inset-0;
  @apply rounded;
  @apply ring-inset;
  @apply ring-gray-200;
  @apply dark:ring-gray-700;
}
@media (hover: hover) and (pointer: fine) {
  .clickableShallow > a:first-child:hover + a {
    @apply ring-2;
  }
  .clickableShallow > a:nth-child(2):hover {
    @apply ring-2;
  }
}
.clickableShallow > a:first-child:active + a {
  @apply ring-1;
}
.clickableShallow > a:nth-child(2):active {
  @apply ring-1;
}
.clickableShallow > a:first-child:active::after {
  content: "";
  @apply rounded;
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
  @apply absolute right-0 top-0;
  @apply h-full w-full;
  @apply z-0;
}
.clickableShallow > a:first-child:active + a::after {
  content: "";
  @apply rounded;
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
  @apply absolute right-0 top-0;
  @apply h-full w-full;
  @apply z-10;
}
.clickableShallow > a:nth-child(2):active::after {
  content: "";
  @apply rounded;
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
  @apply absolute right-0 top-0;
  @apply h-full w-full;
  @apply z-30;
}

/* The one and only card */
.cardWithShadow {
  @apply my-8 px-4 pb-4 bg-gradient-to-br from-white to-white dark:from-gray-700 dark:to-gray-800 rounded shadow-md;
}
.cardHeading {
  @apply inline-block -mt-3 mb-3 h-8 leading-8 px-2 rounded bg-gradient-to-br from-gray-700 to-gray-800 text-white shadow;
}

/* Button */
.button {
  @apply rounded;
  @apply ring-1;
  @apply ring-inset;
  @apply ring-gray-800;
  @apply dark:ring-gray-50;
  @apply font-medium;
  @apply text-gray-800;
  @apply bg-white;
  @apply dark:text-gray-50;
  @apply dark:bg-gray-800;
  @apply relative;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover:enabled {
    @apply ring-2;
  }
}
.button:active:enabled {
  @apply ring-1;
}
.button:active:enabled:after {
  content: "";
  @apply rounded;
  @apply bg-black bg-opacity-10 dark:bg-white dark:bg-opacity-10;
  @apply absolute right-0 top-0;
  @apply h-full w-full;
}
.button:disabled {
  @apply cursor-default;
  @apply ring-gray-500;
  @apply text-gray-500;
  @apply bg-gray-50;
  @apply dark:bg-gray-700;
}

/* radioSlider */
.radioSlider {
  @apply relative;
  @apply flex;
  @apply flex-row;
  @apply w-full;
  @apply overflow-hidden;
  @apply rounded;
  @apply ring-1;
  @apply ring-inset;
  @apply ring-gray-800;
  @apply dark:ring-gray-50;
}
.radioSlider label {
  @apply flex;
  @apply justify-center;
  @apply flex-1;
  @apply py-1;
  @apply cursor-pointer;
  @apply flex-grow;
}
.radioSlider label > div {
  @apply truncate;
  @apply text-sm;
  @apply leading-6;
  @apply font-semibold;
}
.radioSlider label:active > div {
  @apply text-transparent;
  @apply bg-clip-text;
  @apply bg-gradient-to-br from-green-500 to-blue-500;
}
.radioSlider input[type="radio"]:checked + div {
  @apply text-transparent;
  @apply bg-clip-text;
  @apply bg-gradient-to-br;
  @apply from-green-500;
  @apply to-blue-500;
}
.indicator {
  @apply -z-10;
  @apply absolute;
  @apply h-full;
  @apply transition-all;
  @apply duration-300;
  @apply bg-gray-800;
  @apply dark:bg-gray-100;
}

/* Putting this here for the time being, because
using it in the module doesn't work for some reason :,)
(see https://github.com/tailwindlabs/tailwindcss/discussions/2917) */
.navigation-link.active {
  @apply dark:text-gray-50;
  @apply dark:border-gray-50;
}

.loginButton {
  background-color: #1f2937;
  @apply text-white;
  @apply font-bold;
  @apply py-3;
  @apply px-14;
  @apply rounded;
  @apply shadow;
  @apply mt-4;
}

.loginButton:hover {
  background-color: white;
  color: #1f2937;
  border-color: #1f2937;
  @apply border-2;
  @apply font-bold;
  @apply py-3;
  @apply px-14;
  @apply rounded;
  @apply shadow;
  @apply mt-4;
}
