@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
  @apply text-gray-800;
}

body.dark {
  @apply bg-gray-800;
  @apply text-gray-50;
}

/* Headings */

h1 {
  @apply text-4xl;
  @apply font-black;
}

h2 {
  @apply text-2xl;
  @apply font-black;
}

h3 {
  @apply text-xl;
  @apply font-black;
}

/* Inputs, Select, Buttons */

input,
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

select option:first-child {
  @apply text-gray-500;
}

button,
input,
select {
  @apply shadow;
  @apply bg-white;
  @apply duration-75;
}

button:hover,
input:hover,
select:hover {
  @apply shadow-md;
}

button:active,
input:active,
select:active {
  @apply shadow;
}

.card {
  @apply shadow;
  @apply bg-white;
  @apply duration-75;
}
.card:hover {
  @apply shadow-md;
}
.card:active {
  @apply shadow;
}

/* Putting this here for the time being, because
using it in the module doesn't work for some reason :,)
(see https://github.com/tailwindlabs/tailwindcss/discussions/2917) */
.navigation-link.active {
  @apply dark:text-gray-50;
  @apply dark:border-gray-50;
}
