.search_poster {
  --height: 7.25rem;
  @apply object-cover;
  height: var(--height);
  width: calc(var(--height) * (2 / 3));
}

@screen md {
  .search_poster {
    --height: 9rem;
    @apply object-cover;
    height: var(--height);
    width: calc(var(--height) * (2 / 3));
  }
}
